@import "/src/styles/mixins";

.gallery {
  &__image {
    &-content {
      @include gradient-background(to top, #002c00, green);

      background-color: #002c00;
      position: relative;
      padding: 3px;
      border-radius: 10px;
    }

    &.ant-image-img {
      @include object-fit-cover;

      height: 185px;
      width: 185px;
      border-radius: 10px;
    }

    &-options {
      opacity: 0.5;
      position: absolute;
      top: 5px;
      right: 5px;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/* Smartphones (retratos) */
@media only screen and (max-width: 480px) {
  .gallery {
    &__image {
      &.ant-image-img {
        height: 80px;
        width: 80px;
      }
    }
  }
}

/* Smartphones (paisagens) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .gallery {
    &__image {
      &.ant-image-img {
        height: 100px;
        width: 100px;
      }
    }
  }
}

/* Tablets (retratos) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .gallery {
    &__image {
      &.ant-image-img {
        height: 100px;
        width: 100px;
      }
    }
  }
}

/* Tablets (paisagens) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .gallery {
    &__image {
      &.ant-image-img {
        height: 120px;
        width: 120px;
      }
    }
  }
}
