@import "/src/styles/mixins";

.verse {
  &__content {
    text-align: center;
    width: 60%;

    &-buttons {
      margin-top: 20px;

      button {
        width: 200px;
      }
    }
  }

  &__bible {
    &-icon {
      margin-bottom: 20px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid green;
      background-image: url("/bible.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media only screen and (max-width: 480px) {
  .verse {
    &__bible {
      &-icon {
        width: 75px;
        height: 75px;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .verse {
    &__bible {
      &-icon {
        width: 75px;
        height: 75px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .verse {
    &__bible {
      &-icon {
        width: 90px;
        height: 90px;
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .verse {
    &__bible {
      &-icon {
        width: 90px;
        height: 90px;
      }
    }
  }
}
