.page {
  min-height: 100vh;
  background-color: #f0fdf4;

  :global(.ant-typography) {
    color: #15803d;
  }
}

.form {
  :global(.ant-form-item-label > label) {
    color: #15803d;
  }

  :global(.ant-form-item) {
    margin-bottom: 12px;
  }
}

.title {
  text-align: center;
}
