@use "sass:map";

@mixin width-100perc {
  width: 100%;
}

@mixin height-100perc {
  height: 100%;
}

$breakpoints: (
  xs: 360px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px,
  xxxl: 1536px
);

@function breakpoint($name) {
  @return map.get($breakpoints, $name);
}

@mixin media-up($name) {
  @media (min-width: #{breakpoint($name)}) {
    @content;
  }
}

@mixin media-down($name) {
  @media (max-width: #{breakpoint($name)}) {
    @content;
  }
}

@mixin media-between($min, $max) {
  @media (min-width: #{breakpoint($min)}) and (max-width: #{breakpoint($max)}) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin object-fit-cover {
  object-fit: cover;
}

@mixin border-radius($val) {
  border-radius: $val;
}

@mixin border-solid($val, $color) {
  border: $val solid $color;
}

@mixin gradient-background($direction, $colors...) {
  background: linear-gradient($direction, $colors);
}

@mixin hover-scale($scale) {
  cursor: pointer;
  transform: scale($scale);
}

@mixin default-size {
  @include object-fit-cover;
  @include border-radius(5px);

  width: 237px;
  height: 315px;
}

@mixin image-desktop {
  @include object-fit-cover;
  @include border-radius(5px);

  width: 231px;
  height: 309px;
}

@mixin image-mobile-portrait {
  @include object-fit-cover;
  @include border-radius(5px);

  width: 172px;
  height: 231px;
}

@mixin image-mobile-landscape {
  @include object-fit-cover;
  @include border-radius(5px);

  width: 168px;
  height: 225px;
}

@mixin image-tablet-portrait {
  @include object-fit-cover;
  @include border-radius(5px);

  width: 180px;
  height: 243px;
}

@mixin image-tablet-landscape {
  @include object-fit-cover;
  @include border-radius(5px);

  width: 214px;
  height: 288px;
}

@mixin default-size-event {
  @include object-fit-cover;
  @include border-radius(5px);

  width: 315px;
  height: 177px;
}

@mixin view-default {
  @include border-radius(5px);

  width: 100%;
  height: 100%;
}

@mixin album-desktop {
  @include object-fit-cover;
  @include border-radius(7px);
  @include border-solid(1px, white);

  width: 100px;
  height: 132px;
}

@mixin album-tablet {
  @include object-fit-cover;
  @include border-radius(7px);
  @include border-solid(1px, white);

  width: 90px;
  height: 110px;
}

@mixin album-mobile {
  @include object-fit-cover;
  @include border-radius(7px);
  @include border-solid(1px, white);

  width: 75px;
  height: 100px;
}

@mixin carousel-image-xl {
  @include object-fit-cover;
  @include border-radius(5px);

  width: 100dvw;
  height: 40dvh;
}
