@mixin width-100perc {
  width: 100%;
}

@mixin height-100perc {
  height: 100%;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin object-fit-cover {
  object-fit: cover;
}

@mixin border-radius($val) {
  border-radius: $val;
}

@mixin border-solid($val, $color) {
  border: $val solid $color;
}

@mixin gradient-background($direction, $colors...) {
  background: linear-gradient($direction, $colors);
}

@mixin hover-scale($scale) {
  cursor: pointer;
  transform: scale($scale);
}

@mixin default-size {
  @include object-fit-cover;
  @include border-radius(5px);

  width: 237px;
  height: 315px;
}

@mixin default-size-event {
  @include object-fit-cover;
  @include border-radius(5px);

  width: 315px;
  height: 177px;
}

@mixin view-default {
  @include border-radius(5px);

  width: 100%;
  height: 100%;
}

@mixin album-desktop {
  @include object-fit-cover;
  @include border-radius(7px);
  @include border-solid(1px, white);

  width: 100px;
  height: 132px;
}

@mixin album-tablet {
  @include object-fit-cover;
  @include border-radius(7px);
  @include border-solid(1px, white);

  width: 90px;
  height: 110px;
}

@mixin album-mobile {
  @include object-fit-cover;
  @include border-radius(7px);
  @include border-solid(1px, white);

  width: 75px;
  height: 100px;
}

@mixin carousel-image-xl {
  @include object-fit-cover;
  @include border-radius(5px);

  width: 100dvw;
  height: 40dvh;
}
