@import "/src/styles/mixins";

.home {
  overflow-y: auto;

  &__content {
    &-container {
      margin: 100px 0;
    }

    &-presentation {
      .ant-carousel {
        .home__content-carousel {
          .slick-dots {
            & > li > button {
              background: green;
            }
          }
        }
      }
    }

    &-image {
      &.ant-image-img {
        @include carousel-image-xl;
      }
    }

    &--event-default-size {
      .ant-image-img {
        @include default-size-event;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .home {
    &__content {
      &-container {
        margin: 50px 0;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .home {
    &__content {
      &-container {
        margin: 50px 0;
      }
    }

    &--event-default-size {
      .ant-image-img {
        @include default-size-event;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home {
    &__content {
      &-container {
        margin: 75px 0;
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .home {
    &__content {
      &-container {
        margin: 75px 0;
      }
    }
  }
}
