.layout {
  &__app {
    height: 100%;
    overflow: hidden;

    &-header {
      border-bottom: 1px solid rgba(253, 253, 253, 0.12);

      img {
        &:hover {
          cursor: pointer;
        }
      }
    }

    &-content {
      height: 100%;
      overflow: auto;
    }
  }
}
