@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }

  body {
    @apply bg-[#1b1c1d] text-white;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: #1b1c1d;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #1b1c1d;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

@layer components {
  .button__small {
    font-size: 12px;
    line-height: normal;
  }

  #scrollableDiv {
    max-height: 400px;
    margin-top: 10px;
    overflow-y: auto;
  }
}
