@use "/src/styles/mixins" as *;

.management {
  &__container {
    height: 100%;

    .ant-tabs-content {
      height: 100%;

      .ant-tabs-tabpane {
        height: 100%;
      }
    }
  }

  &__image {
    @include object-fit-cover;

    &--default-size {
      @include default-size;
    }

    &--event {
      &-default-size {
        .ant-image-img {
          &.image__size-default {
            @include default-size-event;
          }
        }
      }
    }

    &-container {
      height: 100%;

      &--auto-sizer {
        height: 100%;

        & > div > div {
          display: flex;
          justify-content: center;

          & > div {
            position: absolute;
          }
        }
      }

      &--photos {
        width: 60dvw;
        flex-wrap: wrap;
        justify-content: center;
      }

      &--events {
        width: 60dvw;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-content {
      position: relative;
      padding: 3px;
      border-radius: 10px;
      height: 100%;
      width: 100%;

      & > div {
        @include view-default;
      }
    }

    &-options {
      opacity: 0.5;
      position: absolute;
      top: 5px;
      right: 5px;

      &:hover {
        opacity: 1;
      }
    }

    &.image__size {
      &-default {
        @include image-desktop;
      }
    }

    &-select {
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }

  &__album {
    &-content {
      position: relative;
      transition: transform 1s ease;
      width: 200px;
      height: 220px;
      margin-top: 50px;
        cursor: pointer;

      &-create {
        padding: 3px;
        border: 1px dashed green;
        transition: transform 0.5s ease;

        &:hover {
          @include hover-scale(1.1);
        }
      }

      span,
      .ant-typography {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      &-title {
        transition: transform 1s ease;
      }

      &--cover1 {
        @include album-desktop;

        position: absolute;
        transform: translateX(0);
        top: 10px;
        left: 48px;
        z-index: 3;
        transition: transform 1s ease;
      }

      &--cover2 {
        @include album-desktop;

        position: absolute;
        transform: translateX(10px);
        top: 5px;
        left: 48px;
        z-index: 2;
        transition: transform 1s ease;
      }

      &--cover3 {
        @include album-desktop;

        position: absolute;
        transform: translateX(20px);
        top: 0;
        left: 48px;
        z-index: 1;
        transition: transform 1s ease;
      }

      &:hover {
        @include hover-scale(1.1);

        z-index: 20;

        .management__album-content-title {
          transform: translateY(25px) scale(1.1);
        }

        .management__album-content--cover1 {
          transform: scale(1.25) rotate(-15deg) rotateX(-3deg)
            translate(-60px, -5px);

          &:hover {
            z-index: 10;
            transform: scale(1.5) rotate(-15deg) rotateX(-3deg)
              translate(-60px, -5px);
          }
        }

        .management__album-content--cover2 {
          transform: scale(1.25);

          &:hover {
            z-index: 10;
            transform: scale(1.5);
          }
        }

        .management__album-content--cover3 {
          transform: scale(1.25) rotate(15deg) rotateX(3deg)
            translate(60px, 5px);

          &:hover {
            z-index: 10;
            transform: scale(1.5) rotate(15deg) rotateX(3deg)
              translate(60px, 5px);
          }
        }
      }
    }
  }
}

/* Smartphones (retratos) */
@media only screen and (max-width: 480px) {
  .management {
    &__image {
      &-container {
        &--photos {
          width: 100dvw;
          justify-content: center;
        }
      }

      &.image__size {
        &-default {
          @include image-mobile-portrait;
        }
      }

      &-select {
        position: absolute;
        top: 5px;
        right: 7px;

        &.presentation {
          top: 0;
        }
      }
    }

    &__album {
      &-content {
        width: 150px;
        height: 180px;

        &--cover1 {
          @include album-mobile;

          transform: translateX(0);
          top: 10px;
          left: 27px;
        }

        &--cover2 {
          @include album-mobile;

          transform: translateX(10px);
          top: 5px;
          left: 27px;
        }

        &--cover3 {
          @include album-mobile;

          transform: translateX(20px);
          top: 0;
          left: 27px;
        }
      }
    }
  }
}

/* Smartphones (paisagens) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .management {
    &__image {
      &-container {
        &--photos {
          width: 100dvw;
          justify-content: center;
        }
      }

      &.image__size {
        &-default {
          @include image-mobile-landscape;
        }
      }

      &-select {
        position: absolute;
        top: 5px;
        right: 7px;

        &.presentation {
          top: 2px;
          right: 10px;
        }
      }
    }

    &__album {
      &-content {
        width: 150px;
        height: 180px;

        &--cover1 {
          @include album-mobile;

          transform: translateX(0);
          top: 10px;
          left: 27px;
        }

        &--cover2 {
          @include album-mobile;

          transform: translateX(10px);
          top: 5px;
          left: 27px;
        }

        &--cover3 {
          @include album-mobile;

          transform: translateX(20px);
          top: 0;
          left: 27px;
        }
      }
    }
  }
}

/* Tablets (retratos) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .management {
    &__image {
      &-container {
        &--photos {
          width: 100dvw;
          justify-content: center;
        }
      }

      &.image__size {
        &-default {
          @include image-tablet-portrait;
        }
      }

      &-select {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    &__album {
      &-content {
        width: 166px;
        height: 190px;

        &--cover1 {
          @include album-tablet;

          transform: translateX(0);
          top: 10px;
          left: 30px;
        }

        &--cover2 {
          @include album-tablet;

          transform: translateX(10px);
          top: 5px;
          left: 30px;
        }

        &--cover3 {
          @include album-tablet;

          transform: translateX(20px);
          top: 0;
          left: 30px;
        }
      }
    }
  }
}

/* Tablets (paisagens) */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .management {
    &__image {
      &-container {
        &--photos {
          width: 100dvw;
          justify-content: center;
        }
      }

      &.image__size {
        &-default {
          @include image-tablet-landscape;
        }
      }

      &-select {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    &__album {
      &-content {
        width: 166px;
        height: 190px;

        &--cover1 {
          @include album-tablet;

          transform: translateX(0);
          top: 10px;
          left: 30px;
        }

        &--cover2 {
          @include album-tablet;

          transform: translateX(10px);
          top: 5px;
          left: 30px;
        }

        &--cover3 {
          @include album-tablet;

          transform: translateX(20px);
          top: 0;
          left: 30px;
        }
      }
    }
  }
}
