.title {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 18px;
  color: rgba(6, 78, 59, 0.9);
}

.labelPrimary {
  font-size: 16px;
  color: rgba(6, 78, 59, 0.9);
}

.labelSecondary {
  font-size: 15px;
  color: rgba(6, 78, 59, 0.8);
}
