@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;

  &-track {
    background: #1b1c1d;
  }

  &-thumb {
    background-color: #888; /* cor do polegar */
    border-radius: 10px; /* arredondamento do polegar */
    border: 3px solid #1b1c1d;

    &:hover {
      background-color: #555;
    }
  }
}

#root {
  height: 100dvh;
  width: 100dvw;
}

.button__small {
  &.ant-btn {
    font-size: 12px;
    line-height: normal;
  }
}

.no-margin {
  margin: 0;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.avatar-uploader {
  &.ant-upload-wrapper {
    &.ant-upload-picture-circle-wrapper {
      .ant-upload {
        margin-inline-end: 0;
        margin-bottom: 0;

        &-select {
          margin-inline-end: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .float-btn {
    opacity: 0;

    position: absolute;
    bottom: 23%;
    left: 42%;

    transition: opacity 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;

      &:hover {
        .float-btn {
          opacity: 1;
        }
      }
    }
  }
}

#scrollableDiv {
  max-height: 400px;
  margin-top: 10px;
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 16px !important;
  }

  h5 {
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 32px !important;
  }

  h2 {
    font-size: 28px !important;
  }

  h3 {
    font-size: 24px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  h5 {
    font-size: 18px !important;
  }
}
