@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "/src/styles/mixins";

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;

  &-track {
    background: #1b1c1d;
  }

  &-thumb {
    background-color: #888; /* cor do polegar */
    border-radius: 10px; /* arredondamento do polegar */
    border: 3px solid #1b1c1d;

    &:hover {
      background-color: #555;
    }
  }
}

#root {
  height: 100dvh;
  width: 100dvw;
}

.button__small {
  &.ant-btn {
    font-size: 12px;
    line-height: normal;
  }
}

.no-margin {
  margin: 0;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.avatar-uploader {
  &.ant-upload-wrapper {
    &.ant-upload-picture-circle-wrapper {
      .ant-upload {
        margin-inline-end: 0;
        margin-bottom: 0;

        &-select {
          margin-inline-end: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .float-btn {
    opacity: 0;

    position: absolute;
    bottom: 8px;
    right: 8px;
    left: auto;

    transition: opacity 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 1;
    border-radius: 50%;

    &-container {
      width: 100%;
      height: 100%;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        .float-btn {
          opacity: 1;
        }
      }
    }
  }
}

.ant-skeleton {
  &.skeleton-verse {
    width: 40%;
    margin: 50px 0;
  }

  .ant-skeleton-image {
    &.image-skeleton {
      @include view-default;
    }
  }

  &.ant-skeleton-element {
    &.image-skeleton {
      @include view-default;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  &.text-uppercase {
    text-transform: uppercase;
    margin: 0;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.small-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.width-100perc {
  @include width-100perc;
}

.height-100perc {
  @include height-100perc;
}

#scrollableDiv {
  max-height: 400px;
  margin-top: 10px;
  overflow-y: auto;
}

.skeleton-images {
  width: 60dvw;

  .ant-skeleton {
    &.ant-skeleton-element {
      &.image-skeleton {
        height: 309px;
      }
    }
  }
}

.ant-carousel {
  .slick-slider {
    .slick-list {
      .slick-track {
        .slick-slide {
          margin: 0 10px 0 -4px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .skeleton-images {
    width: 100dvw;

    .ant-skeleton {
      &.ant-skeleton-element {
        &.image-skeleton {
          height: 231px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .skeleton-images {
    width: 80dvw;

    .ant-skeleton {
      &.ant-skeleton-element {
        &.image-skeleton {
          height: 225px;
        }
      }
    }
  }

  .ant-skeleton {
    &.skeleton-verse {
      width: 80%;
      margin: 50px 0;
    }
  }

  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 16px !important;
  }

  h5 {
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .skeleton-images {
    width: 90dvw;

    .ant-skeleton {
      &.ant-skeleton-element {
        &.image-skeleton {
          height: 243px;
        }
      }
    }
  }

  h1 {
    font-size: 32px !important;
  }

  h2 {
    font-size: 28px !important;
  }

  h3 {
    font-size: 24px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  h5 {
    font-size: 18px !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .skeleton-images {
    width: 80dvw;

    .ant-skeleton {
      &.ant-skeleton-element {
        &.image-skeleton {
          height: 288px;
        }
      }
    }
  }
}
